<footer class="footer">
  <div class="footer__container">
    <div class="footer__logo">
      <img src="assets/images/freelando.png" alt="Freelando Logo">
    </div>
    <div class="footer__credits">
      <p>Desenvolvido por Alura. Projeto fictício sem fins comerciais.</p>
    </div>
    <div class="footer__social">
      <p>Acesse nossas redes:</p>
      <div class="footer__social-icons">
        <a href="#" class="footer__social-icon">
          <img src="assets/images/social/whatsapp.png" alt="WhatsApp">
        </a>
        <a href="#" class="footer__social-icon">
          <img src="assets/images/social/twitch.png" alt="Twitch">
        </a>
        <a href="#" class="footer__social-icon">
          <img src="assets/images/social/instagram.png" alt="Instagram">
        </a>
        <a href="#" class="footer__social-icon">
          <img src="assets/images/social/twitter.png" alt="Twitter">
        </a>
      </div>
    </div>
  </div>
</footer>
