<div class="cadastro-form">
  <div class="cadastro-form__container">
    <div class="cadastro-form__card">
      <h2 class="cadastro-form__title">Crie seu cadastro</h2>
      <p class="cadastro-form__subtitle">Melhore sua descrição para atrair clientes!</p>

      <form [formGroup]="perfilForm" (ngSubmit)="onProximo()">

        <div class="cadastro-form__field">
          <label class="cadastro-form__label">Sua foto</label>
          <div class="cadastro-form__upload-container">
            <div class="cadastro-form__upload-area" [class.cadastro-form__upload-area--with-preview]="fotoPreview"
              (click)="fileInput.click()">
              <ng-container *ngIf="!fotoPreview">
                <div>
                  <i class="fas fa-cloud-upload-alt"></i>
                  <p>Arraste arquivos para esta área ou
                    clique para fazer o upload</p>
                </div>
              </ng-container>
              <ng-container *ngIf="fotoPreview">
                <img [src]="fotoPreview" alt="Preview da foto" class="cadastro-form__foto-preview">
              </ng-container>
            </div>
            <input #fileInput type="file" accept="image/*" style="display: none" (change)="onFotoSelecionada($event)">
          </div>
        </div>

        <div class="cadastro-form__field">
          <label for="resumo" class="cadastro-form__label">Resumo</label>
          <textarea id="resumo" class="cadastro-form__textarea" formControlName="resumo" maxlength="70" rows="3"></textarea>
          <div class="cadastro-form__field-info">
            <span>Faça um resumo ate 70 caracteres</span>
            <span>{{ caracteresRestantes }}</span>
          </div>
          <div class="cadastro-form__error"
            *ngIf="perfilForm.get('resumo')?.invalid && perfilForm.get('resumo')?.touched">
            <span *ngIf="perfilForm.get('resumo')?.errors?.['required']"
            >Resumo é obrigatorio</span>
            <span *ngIf="perfilForm.get('resumo')?.errors?.['maxlength']"
            >Resumo deve ter no maximo 700 caracteres</span>
          </div>
        </div>

        <div class="cadastro-form__field">
          <label class="cadastro-form__label">Cite até três habilidades que você considera principais</label>

          <div class="cadastro-form__chips">
            <app-chip *ngFor="let habilidade of habilidades" [text]="habilidade.nome"
              [selected]="habilidade.selecionada"
              [disabled]="!habilidade.selecionada && perfilForm.get('habilidadesSelecionadas')?.value.length >= 3 "
              (clicked)="toogleHabilidade(habilidade)">
            </app-chip>
          </div>
        </div>

        <div class="cadastro-form__field">
          <div class="cadastro-form__row cadastro-form__row--header">
            <div class="cadastro-form__column">
              <label class="cadastro-form__label">Idiomas</label>
            </div>
            <div class="cadastro-form__column">
              <label class="cadastro-form__label">Nível</label>
            </div>
          </div>
          <ng-container formArrayName="idiomas">
            <div class="cadastro-form__row" *ngFor="let idiomaForm of idiomasArray.controls; let i = index"
              [formGroupName]="i">
              <div class="cadastro-form__column">
                <select class="cadastro-form__select" formControlName="nome">
                  <option value="" disabled>Escolha o idioma</option>
                  <option *ngFor="let idioma of idiomas" [value]="idioma">{{idioma}}</option>
                </select>
                <div class="cadastro-form__error"
                  *ngIf="idiomaForm.get('nome')?.invalid && idiomaForm.get('nome')?.touched">
                  Idioma é obrigatorio!
                </div>
              </div>
              <div class="cadastro-form__column">
                <select class="cadastro-form__select" formControlName="nivel">
                  <option value="" disabled>Nível de conhecimento</option>
                  <option *ngFor="let nivel of niveisIdioma" [value]="nivel">{{nivel}}</option>
                </select>
                <div class="cadastro-form__error"
                  *ngIf="idiomaForm.get('nivel')?.invalid && idiomaForm.get('nivel')?.touched">
                  Nível é obrigatorio!
                </div>
              </div>
              <div class="cadastro-form__column cadastro-form__column--actions">
                <button type="button" class="cadastro-form__icon-button" (click)="removerIdioma(i)"
                  *ngIf="i > 0 || idiomaForm.get('nome')?.value !== 'Português'"></button>
              </div>
            </div>
          </ng-container>

          <div class="cadastro-form__add-button">
            <button type="button" class="cadastro-form__text-button" (click)="adicionarIdioma()">
              <i class="fas fa-plus-circle"> Adicionar idiomas</i>
            </button>
          </div>
        </div>

      <div class="cadastro-form__field">
        <label for="portfolio" class="cadastro-form__label">Portfólio</label>
        <input id="portfolio"
        type="url"
        class="cadastro-form__input"
        formControlName="portfolio">
        <div class="cadastro-form__error"
                  *ngIf="perfilForm.get('portfolio')?.invalid && perfilForm.get('portfolio')?.touched">
                  URL Inválida. Inclua http:// ou https://
                </div>
      </div>

      <div class="cadastro-form__field">
        <label for="linkedin" class="cadastro-form__label">LinkedIn</label>
        <input id="linkedin"
        type="url"
        class="cadastro-form__input"
        formControlName="linkedin">
        <div class="cadastro-form__error"
                  *ngIf="perfilForm.get('linkedin')?.invalid && perfilForm.get('linkedin')?.touched">
                  URL do linkedin Inválida
                </div>
      </div>

        <div class="cadastro-form__actions">
          <app-button text="Anterior" type="outline" icon="fas fa-arrow-left" iconPosition="left"
            (clicked)="onAnterior()">
          </app-button>

          <app-button text="Próximo" type="primary" icon="fas fa-arrow-right" iconPosition="right"
            [disabled]="perfilForm.invalid" (clicked)="onProximo()">
          </app-button>
        </div>
      </form>
    </div>
  </div>
</div>